<softadmin-bankid class="saBankIdWrapper saMenuItemRoot">
	<div class="saBankId" tabindex="-1">
		<div class="saBankIdBody">
			<div class="saBankIdHeader">
				<img class="saBankIdLogo" src="img/bankid.svg" aria-hidden="true">
				<h2>Skriv under med BankID</h2>
				<span class="saStatusMessage" aria-live="polite">Starta BankID-appen och läs av QR-koden.</span>
			</div>
			<div class="saQrWrapper">
				<img class="saQr saPixelated" alt="QR" src="img/bankid-qr-placeholder.png">
				<div class="saQrCountdown" aria-hidden="true">
					<progress max="100" value="92"></progress>
					<div class="saQrCountdownText">5 minuter kvar</div>
				</div>
				<div class="saScreenReaderOnly" aria-live="polite">5 minuter kvar</div>
				<div class="saBankIdAppInstructions" style="display: none;"></div>
			</div>
		</div>
		<div class="saBankIdFooter">
			<button class="saButtonSecondary saButton" type="button">
				<i class="saBankIdLogo"></i>
				<span>Använd BankID på den här enheten</span>
			</button>
			<button class="saButtonGhost saButton" type="button">Avbryt</button>
			<button class="saButtonPrimary" type="button" style="display: none;">OK</button>
		</div>
	</div>
</softadmin-bankid>
