<softadmin-bankid class="saBankIdWrapper saMenuItemRoot">
	<div class="saBankId" tabindex="-1">
		<div class="saBankIdBody">
			<div class="saBankIdHeader">
				<img class="saBankIdLogo" src="img/bankid.svg">
				<h2>Sign with BankID</h2>
				<span class="saStatusMessage" aria-live="polite">Open the BankID app and scan the QR code.</span>
			</div>
			<div class="saQrWrapper">
				<img class="saQr saPixelated" alt="QR" src="img/bankid-qr-placeholder.png">
				<div class="saQrCountdown">
					<progress max="100" value="92"></progress>
					<div class="saQrCountdownText">5 minutes left</div>
				</div>
				<div class="saScreenReaderOnly" aria-live="polite">5 minutes left</div>
				<div class="saBankIdAppInstructions" style="display: none;"></div>
			</div>
		</div>
		<div class="saBankIdFooter">
			<button class="saButtonSecondary saButton" type="button">
				<i class="saBankIdLogo"></i>
				<span>Use BankID on this device</span>
			</button>
			<button class="saButtonGhost saButton" type="button">Cancel</button>
			<button class="saButtonPrimary" type="button" style="display: none;">OK</button>
		</div>
	</div>
</softadmin-bankid>
