<softadmin-calendar class="calendar maincolbody saMenuItemRoot">
	<div class="saCalendarSection saDesktopCalendar saWeekdaysCalendar">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Week 36 2026</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled"><span class="saLabeledLabel">Year</span><select class="saInputText saDropdown"><option>2026</option></select><div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div></label>
				<label class="saInputTextWrapper saLabeled"><span class="saLabeledLabel">Month</span><select class="saInputText saDropdown"><option>September</option></select><div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div></label>
				<label class="saInputTextWrapper saLabeled"><span class="saLabeledLabel">Week</span><input class="saInputText saNumberInput" type="number" value="36"></label>
				<button class="saTodayButton" type="button">Today</button>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading"><span class="saCalendarSidebarHeading">September 2026</span><div class="saMonthBrowser"><button type="button"><i class="saIcon far fa-angle-left"></i></button><button type="button"><i class="saIcon far fa-angle-right"></i></button></div></div>
							<div class="saDayRow"><div class="saWeekNr saEmpty"></div><div class="saDay">Mon</div><div class="saDay">Tue</div><div class="saDay">Wed</div><div class="saDay">Thu</div><div class="saDay">Fri</div><div class="saDay">Sat</div><div class="saDay">Sun</div></div>
							<div class="saDateRow"><div class="saWeekNr">36</div><div class="saDate saDateElement saToday saMarked">31</div><div class="saDate saDateElement saMarked">1</div><div class="saDate saDateElement saMarked">2</div><div class="saDate saDateElement saMarked">3</div><div class="saDate saDateElement saMarked">4</div><div class="saDate saDateElement saMarked">5</div><div class="saDate saDateElement saMarked">6</div></div>
							<div class="saDateRow"><div class="saWeekNr">37</div><div class="saDate saDateElement saMarked">7</div><div class="saDate saDateElement saMarked">8</div><div class="saDate saDateElement saMarked">9</div><div class="saDate saDateElement saMarked">10</div><div class="saDate saDateElement saMarked">11</div><div class="saDate saDateElement saMarked">12</div><div class="saDate saDateElement saMarked">13</div></div>
						</div>
					</div>
					<div class="saCalendarSidebarSection saSidebarFilters">
						<label class="saInputTextWrapper saLabeled"><span class="saLabeledLabel">Employee / conference room</span><select class="saInputText saDropdown"><option>Viktor Lindgren</option><option>Anna Andersson</option></select><div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div></label>
					</div>
				</div>
			</div>
			<div class="saCalendar" role="table">
				<div class="saWeek saWeekDays" role="row"><time class="saWeekNumber" role="columnheader"><button class="saIcon far fa-angles-left saCalendarSidebarExpander" type="button"></button></time><div class="saWeekDay">Monday</div><div class="saWeekDay">Tuesday</div><div class="saWeekDay">Wednesday</div><div class="saWeekDay">Thursday</div><div class="saWeekDay">Friday</div><div class="saWeekDay">Saturday</div><div class="saWeekDay">Sunday</div></div>
				<div class="saCalendarInnerWrapper">
					<div class="saCalendarInner" role="rowgroup">
						<div class="saWeek" role="row">
							<time class="saWeekNumber" role="rowheader">36</time>
							<div class="saDateX saDateIsToday saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">31 Aug</time><ul class="saActivityGroup"><li class="saActivity saClickable"><div class="saActivityLine" style="background-color: rgb(133, 147, 173);"></div><div class="saActivityInner"><div class="saActivityHeadingWrapper"><div class="saActivityHeading">Morning meeting</div></div><div class="saActivityDescription">10:00-11:00</div></div></li></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">1 Sep</time><ul class="saActivityGroup"><li class="saActivity saClickable"><div class="saActivityLine" style="background-color: rgb(133, 147, 173);"></div><div class="saActivityInner"><div class="saActivityHeadingWrapper"><div class="saActivityHeading">Project review</div></div><div class="saActivityDescription">13:00-14:00</div></div></li></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">2</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">3</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">4</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saRedDay saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">5</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saRedDay saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">6</time><ul class="saActivityGroup"></ul></div></div>
						</div>
						<div class="saWeek" role="row">
							<time class="saWeekNumber" role="rowheader">37</time>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">7</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">8</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">9</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">10</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">11</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saRedDay saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">12</time><ul class="saActivityGroup"></ul></div></div>
							<div class="saDateX saRedDay saClickable" role="cell"><div class="saDateInner"><time class="saDateNumber">13</time><ul class="saActivityGroup"></ul></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-calendar>
