<softadmin-calendar class="calendar maincolbody saMenuItemRoot">
	<div class="saCalendarSection saDesktopCalendar saTimeScheduleCalendar saWeekdaysCalendar">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Vecka 27 2026</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">År</span>
					<select class="saInputText saDropdown">
						<option>2026</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled shortest">
					<span class="saLabeledLabel">Vecka</span>
					<input class="saInputText" type="number">
				</label>
				<button class="saTodayButton" type="button">Idag</button>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading">
								<span class="saCalendarSidebarHeading">Juli 2026</span>
								<div class="saMonthBrowser">
									<button type="button"><i class="saIcon far fa-angle-left"></i></button>
									<button type="button"><i class="saIcon far fa-angle-right"></i></button>
								</div>
							</div>
							<div class="saDayRow">
								<div class="saWeekNr saEmpty"></div>
								<div class="saDay">Mån</div>
								<div class="saDay">Tis</div>
								<div class="saDay">Ons</div>
								<div class="saDay">Tor</div>
								<div class="saDay">Fre</div>
								<div class="saDay">Lör</div>
								<div class="saDay">Sön</div>
							</div>
							<div class="saDateRow">
								<div class="saWeekNr">27</div>
								<div class="saDate saDateElement">29</div>
								<div class="saDate saDateElement">30</div>
								<div class="saDate saDateElement">1</div>
								<div class="saDate saDateElement">2</div>
								<div class="saDate saDateElement saToday saMarked">3</div>
								<div class="saDate saDateElement">4</div>
								<div class="saDate saDateElement">5</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="saCalendar">
				<div class="saWeek saWeekDays">
					<time class="saWeekNumber">
						<button type="button" class="saIcon far fa-angles-left saCalendarSidebarExpander"></button>
					</time>
					<div class="saWeekDay" style="min-width: 128px;">Måndag</div>
					<div class="saWeekDay" style="min-width: 128px;">Tisdag</div>
					<div class="saWeekDay" style="min-width: 128px;">Onsdag</div>
				</div>
				<div class="saWeek saWeekExtra saWeekDates">
					<time class="saWeekNumber">27</time>
					<div class="saWeekExtraInner saClickable" style="min-width: 128px;">
						<time class="saDateNumber">29 jun</time>
					</div>
					<div class="saWeekExtraInner saClickable" style="min-width: 128px;">
						<time class="saDateNumber">30 jun</time>
					</div>
					<div class="saWeekExtraInner saClickable" style="min-width: 128px;">
						<time class="saDateNumber">1 jul</time>
					</div>
				</div>
				<div class="saCalendarInnerWrapper">
					<div class="saCalendarInner">
						<div class="saWeek">
							<div class="saSlotWrapper">
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">08:00</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">08:30</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">09:00</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">09:30</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">10:00</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">10:30</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">11:00</div></div>
							</div>
							<div class="saCalendarItemList" style="min-width: 128px;">
								<div class="saCalendarItemListInner">
									<div class="saCalendarStripe" style="height: 30px; top: 0px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 30px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 60px;"></div>
									<div class="saScheduleActivity saIgnoreOnDropJs" style="left: calc(0% + 4px); width: calc(100% - 4px); top: 60px; height: 73px; background-color: #1668e0;">
										<div class="saScheduleActivityInner" style="color: rgb(255, 255, 255);">
											<div class="saScheduleActivityHeadingWrapper">
												<span class="saListActivityHeading">Project meeting</span>
											</div>
											<span class="saListActivityDescription">Design review</span>
										</div>
									</div>
									<div class="saCalendarStripe" style="height: 30px; top: 90px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 120px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 150px;"></div>
								</div>
							</div>
							<div class="saCalendarItemList" style="min-width: 128px;">
								<div class="saCalendarItemListInner">
									<div class="saCalendarStripe" style="height: 30px; top: 0px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 30px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 60px;"></div>
									<div class="saCurrentTime" style="top: 53px;"></div>
								</div>
							</div>
							<div class="saCalendarItemList" style="min-width: 128px;">
								<div class="saCalendarItemListInner">
									<div class="saCalendarStripe" style="height: 30px; top: 0px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 30px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 60px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-calendar>
