<softadmin-calendar class="calendar maincolbody saMenuItemRoot">
	<div class="saCalendarSection saDesktopCalendar saWeekdaysCalendar">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Vecka 25 2026</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">År</span>
					<select class="saInputText saDropdown">
						<option>2026</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled shortest">
					<span class="saLabeledLabel">Vecka</span>
					<input class="saInputText saNumberInput" type="number">
				</label>
				<button class="saTodayButton" type="button">Idag</button>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading">
								<span class="saCalendarSidebarHeading">Juni 2026</span>
								<div class="saMonthBrowser">
									<button type="button"><i class="saIcon far fa-angle-left"></i></button>
									<button type="button"><i class="saIcon far fa-angle-right"></i></button>
								</div>
							</div>
							<div class="saDayRow">
								<div class="saWeekNr saEmpty"></div>
								<div class="saDay">Mån</div>
								<div class="saDay">Tis</div>
								<div class="saDay">Ons</div>
								<div class="saDay">Tor</div>
								<div class="saDay">Fre</div>
								<div class="saDay">Lör</div>
								<div class="saDay">Sön</div>
							</div>
							<div class="saDateRow">
								<div class="saWeekNr">25</div>
								<div class="saDate saDateElement">15</div>
								<div class="saDate saDateElement">16</div>
								<div class="saDate saDateElement">17</div>
								<div class="saDate saDateElement">18</div>
								<div class="saDate saDateElement saToday">19</div>
								<div class="saDate saDateElement">20</div>
								<div class="saDate saDateElement">21</div>
							</div>
						</div>
					</div>
					<div class="saCalendarSidebarSection saSidebarFilters">
						<label class="saInputTextWrapper saLabeled">
							<span class="saLabeledLabel">Category</span>
							<select class="saInputText saDropdown">
								<option>All</option>
								<option>Bookings</option>
							</select>
							<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
						</label>
					</div>
				</div>
			</div>
			<div class="saCalendar">
				<div class="saWeek saWeekDays">
					<time class="saWeekNumber">
						<button type="button" class="saIcon far fa-angles-left saCalendarSidebarExpander"></button>
					</time>
					<div class="saWeekDay">Måndag</div>
					<div class="saWeekDay">Tisdag</div>
					<div class="saWeekDay">Onsdag</div>
					<div class="saWeekDay">Torsdag</div>
					<div class="saWeekDay">Fredag</div>
				</div>
				<div class="saWeek saWeekExtra saWeekDates">
					<time class="saWeekNumber">25</time>
					<div class="saWeekExtraInner saClickable"><time class="saDateNumber">15 jun</time></div>
					<div class="saWeekExtraInner saClickable"><time class="saDateNumber">16</time></div>
					<div class="saWeekExtraInner saClickable"><time class="saDateNumber">17</time></div>
					<div class="saWeekExtraInner saClickable"><time class="saDateNumber">18</time></div>
					<div class="saWeekExtraInner saClickable"><time class="saDateNumber">19</time></div>
				</div>
				<div class="saWeek">
					<div class="saCalendarItemList">
						<div class="saActivity saAllDay" style="background-color: rgb(22, 104, 224);">
							<div class="saActivityInner">
								<div class="saActivityHeadingWrapper">
									<div class="saActivityHeading" style="color: rgb(255, 255, 255);">Booking</div>
								</div>
								<span class="saActivityDescription" style="color: rgb(255, 255, 255);">Conference room</span>
							</div>
						</div>
					</div>
					<div class="saCalendarItemList"></div>
					<div class="saCalendarItemList">
						<div class="saActivity saAllDay" style="background-color: rgb(255, 252, 204);">
							<div class="saActivityInner">
								<div class="saActivityHeadingWrapper">
									<div class="saActivityHeading" style="color: rgb(0, 0, 0);">Workshop</div>
								</div>
								<span class="saActivityDescription" style="color: rgb(0, 0, 0);">Design system</span>
							</div>
						</div>
					</div>
					<div class="saCalendarItemList"></div>
					<div class="saCalendarItemList"></div>
				</div>
			</div>
		</div>
	</div>
</softadmin-calendar>
