<softadmin-calendar class="calendar maincolbody saMenuItemRoot">
	<div class="saCalendarSection saDesktopCalendar saTimeScheduleCalendar saResourceCalendar">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Fredag 3 juli 2026</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">År</span>
					<select class="saInputText saDropdown">
						<option>2026</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">Månad</span>
					<select class="saInputText saDropdown">
						<option>Juli</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">Dag</span>
					<input class="saInputText saNumberInput" type="number">
				</label>
				<button class="saTodayButton" type="button">Idag</button>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading">
								<span class="saCalendarSidebarHeading">Juli 2026</span>
								<div class="saMonthBrowser">
									<button type="button"><i class="saIcon far fa-angle-left"></i></button>
									<button type="button"><i class="saIcon far fa-angle-right"></i></button>
								</div>
							</div>
							<div class="saDateRow">
								<div class="saWeekNr">27</div>
								<div class="saDate saDateElement">29</div>
								<div class="saDate saDateElement">30</div>
								<div class="saDate saDateElement">1</div>
								<div class="saDate saDateElement">2</div>
								<div class="saDate saDateElement saToday saMarked">3</div>
								<div class="saDate saDateElement">4</div>
								<div class="saDate saDateElement">5</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="saCalendar">
				<div class="saWeek saWeekDays">
					<time class="saWeekNumber">
						<button type="button" class="saIcon far fa-angles-left saCalendarSidebarExpander"></button>
					</time>
					<div class="saWeekDay" style="min-width: 128px;">Resource A</div>
					<div class="saWeekDay" style="min-width: 128px;">Resource B</div>
				</div>
				<div class="saCalendarInnerWrapper">
					<div class="saCalendarInner">
						<div class="saWeek">
							<div class="saSlotWrapper">
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">08:00</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">08:30</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">09:00</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">09:30</div></div>
								<div class="saSlot" style="min-height: 30px;"><div class="saSlotInner">10:00</div></div>
							</div>
							<div class="saCalendarItemList" style="min-width: 128px;">
								<div class="saCalendarItemListInner">
									<div class="saCalendarStripe" style="height: 30px; top: 0px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 30px;"></div>
									<div class="saScheduleActivity saIgnoreOnDropJs" style="left: calc(0% + 4px); width: calc(100% - 4px); top: 60px; height: 118px; background-color: #ffffcc;">
										<div class="saScheduleActivityInner" style="color: rgb(0, 0, 0);">
											<div class="saScheduleActivityHeadingWrapper">
												<span class="saListActivityHeading">Resource booking</span>
											</div>
											<span class="saListActivityDescription">09:00-11:00</span>
										</div>
									</div>
									<div class="saCalendarStripe" style="height: 30px; top: 60px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 90px;"></div>
								</div>
							</div>
							<div class="saCalendarItemList" style="min-width: 128px;">
								<div class="saCalendarItemListInner">
									<div class="saCalendarStripe" style="height: 30px; top: 0px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 30px;"></div>
									<div class="saCurrentTime" style="top: 53px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 60px;"></div>
									<div class="saCalendarStripe" style="height: 30px; top: 90px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-calendar>
