<softadmin-chat class="saMenuItemRoot">
	<div class="saChatWrapper">
		<div class="saChat">
			<button class="saLoadMessagesButton saHidden" type="button">Show earlier messages</button>
			<ol class="saChatLog">
				<li class="saChatDate">
					<time>Monday, June 15</time>
				</li>
				<li class="saChatAiResponse">
					<article>
						<div class="saChatAiMessageBody">
							<div class="saScreenReaderOnly">Meddelande skickat av AI-assistent 2026-06-15 15:30</div>
							<div class="saChatMessageContent">Ask me anything!</div>
						</div>
					</article>
				</li>
				<li class="saChatDate">
					<time>Today</time>
				</li>
				<li class="saChatMessage saChatSender">
					<article class="saChatMessageInner">
						<div class="saChatMessageBody">
							<div class="saScreenReaderOnly">Meddelande skickat av Anna Andersson 2026-07-03 08:58</div>
							<p>What are you?</p>
						</div>
						<footer class="saChatMessageFooter">
							<time class="saChatMessageTime">08:58</time>
						</footer>
					</article>
				</li>
				<li class="saChatAiResponse">
					<article>
						<div class="saChatAiMessageBody">
							<div class="saScreenReaderOnly">Meddelande skickat av AI-assistent 2026-07-03 08:58</div>
							<div class="saChatMessageContent saMarkDownContent">
								<p>I'm an AI assistant, a language model that can answer questions and help with text, coding, research, and summaries.</p>
							</div>
						</div>
					</article>
				</li>
			</ol>
		</div>
		<div class="saChatComposerWrapper">
			<button class="saChatLatest saReached" type="button">
				<i class="far fa-arrow-down saIcon"></i>
			</button>
			<div class="saChatComposer">
				<div class="saChatTextarea saEmpty"></div>
				<button class="saChatButtonSend" type="submit">
					<i class="far fa-arrow-up saIcon"></i>
				</button>
			</div>
			<p class="saChatComposerInstruction">AI-generated content may be incorrect</p>
		</div>
	</div>
</softadmin-chat>
