<softadmin-tabview class="maincolbody saMenuItemRoot saTabView saIFrameTabs">
	<div class="saTabViewInner">
		<div class="saTabGroup">
			<div>
				<button class="saTab">
					<span><i class="far fa-message-text icon saIcon"></i></span>
					<span class="saTabText">Inlägg och logg</span>
				</button>
			</div>
			<div>
				<button class="saTab">
					<span><i class="saC sa-center-focus-strong icon saIcon"></i></span>
					<span class="saTabText">Delpunkter</span>
				</button>
			</div>
			<div>
				<button class="saTab">
					<span><i class="far fa-clock-rotate-left icon saIcon"></i></span>
					<span class="saTabText">Tidrapporter</span>
				</button>
			</div>
			<div>
				<button class="saTab saSelected">
					<span><i class="far fa-paperclip icon saIcon"></i></span>
					<span class="saTabText">Bifogade filer</span>
				</button>
			</div>
			<div class="saMoreTabWrapper saHidden">
				<button class="saTab saMoreTab">
					<div class="saMoreTabInner">
						<div class="saIconHolder"><i class="far fa-ellipsis saIcon"></i></div>
					</div>
				</button>
				<div class="saContextMenu saSouth">
					<ul>
						<li class="saOptionWrapper">
							<button>
								<div class="saOption">
									<i class="far fa-message-text icon saIcon saOptionIcon"></i>
									<span class="saOptionText">Inlägg och logg</span>
								</div>
							</button>
						</li>
						<li class="saOptionWrapper">
							<button>
								<div class="saOption">
									<i class="saC sa-center-focus-strong icon saIcon saOptionIcon"></i>
									<span class="saOptionText">Delpunkter</span>
								</div>
							</button>
						</li>
						<li class="saOptionWrapper">
							<button>
								<div class="saOption">
									<i class="far fa-clock-rotate-left icon saIcon saOptionIcon"></i>
									<span class="saOptionText">Tidrapporter</span>
								</div>
							</button>
						</li>
						<li class="saOptionWrapper saSelected">
							<button>
								<div class="saOption">
									<i class="far fa-paperclip icon saIcon saOptionIcon"></i>
									<span class="saOptionText">Bifogade filer</span>
								</div>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="saTabContent">
			<div><iframe class="iframecontent"></iframe></div>
			<div><iframe class="iframecontent"></iframe></div>
			<div><iframe class="iframecontent"></iframe></div>
			<div><iframe class="iframecontent"></iframe></div>
		</div>
	</div>
</softadmin-tabview>
