<softadmin-groupview class="saGroupView">
	<div class="saGroupViewSearchWrapper">
		<div class="saGroupViewSearchBox">
			<button type="button">
				<i class="saIcon far fa-search saSearchIcon"></i>
				<i class="saIcon fas fa-spin fa-spinner saSpinIcon"></i>
			</button>
			<input type="search">
		</div>
		<span class="saGroupViewWarning"></span>
		<fieldset class="saPillGroup">
			<legend class="saScreenReaderOnly">Filtrera kategori</legend>
			<label class="saPill saActive saSelected">
				<span>Alla</span>
				<input class="saGroupFilterRadioJs" type="radio">
			</label>
			<label class="saPill saActive">
				<span>Mina underhållspunkter</span>
				<input class="saGroupFilterRadioJs" type="radio">
			</label>
			<label class="saPill saActive">
				<span>Företag</span>
				<input class="saGroupFilterRadioJs" type="radio">
			</label>
			<label class="saPill saDisabled">
				<span>Kontaktperson</span>
				<input class="saGroupFilterRadioJs" type="radio">
			</label>
		</fieldset>
	</div>
	<div class="saEmptyState">
		<div class="saEmptyStateIcon"><i class="saIcon far fa-search"></i></div>
		<div class="saEmptyStateBody">
			<span class="saEmptyStateHeading">Inga träffar hittades.</span>
		</div>
	</div>
	<div class="saGroupViewGroupWrapper">
		<div class="saGroupViewWrapper">
			<div class="saGroupViewGroup">
				<div class="saGroupViewTitle">
					<h2>Mina underhållspunkter</h2>
				</div>
				<table class="saGroupViewTable">
					<thead>
						<tr>
							<th>Projekt</th>
							<th>Nr</th>
							<th>Rubrik</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody class="saTableBodyJs">
						<tr>
							<td>
								<div class="saCellWrapper">
									<a class="saLink"><div><span>Softadmin</span></div></a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>6031</span></div></div>
							</td>
							<td>
								<div class="saCellWrapper">
									<a class="saLink">
										<div><span>Mobilgränssnittet visar icke-responsiv </span><mark>design</mark><span> vid byte av menyval</span></div>
									</a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Arkiverad</span></div></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="saCellWrapper">
									<a class="saLink"><div><span>Softadmin - Support</span></div></a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>2828</span></div></div>
							</td>
							<td>
								<div class="saCellWrapper">
									<a class="saLink"><div><span>Multirow i 7.5's grafiska </span><mark>design</mark></div></a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Pågående</span></div></div>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="saShowMoreButton" type="button">Visa fler</button>
			</div>
			<div class="saGroupViewGroup">
				<div class="saGroupViewTitle">
					<h2>Företag</h2>
				</div>
				<table class="saGroupViewTable">
					<thead>
						<tr>
							<th>Namn</th>
							<th>Ort</th>
							<th>Kundansvarig</th>
						</tr>
					</thead>
					<tbody class="saTableBodyJs">
						<tr>
							<td>
								<div class="saCellWrapper">
									<a class="saLink"><div><span>Example </span><mark>Design</mark><span> AB</span></div></a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Stockholm</span></div></div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Anna Andersson</span></div></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="saCellWrapper">
									<a class="saLink"><div><span>Nordic Softadmin Partner</span></div></a>
								</div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Göteborg</span></div></div>
							</td>
							<td>
								<div class="saCellWrapper"><div><span>Maria Lindberg</span></div></div>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="saShowMoreButton" type="button">Visa fler</button>
			</div>
		</div>
	</div>
</softadmin-groupview>
