<softadmin-grid class="grid saMenuItemRoot">
	<div class="maincolbody listpage saNotUsingAccessibilityMode stickyheader">
		<div class="saGridWrapper">
			<div class="saGridTop">
				<div class="saGridTopInner">
					<div class="saGridHitCounter">25 av 321 träffar</div>
					<div class="saPagination"><button type="button"><i
								class="far fa-angles-left saIcon"></i></button><button type="button"><i
								class="far fa-angle-left saIcon"></i></button>
						<div class="saPaginationPages"><input><span> av 13</span></div><button type="button"><i
								class="far fa-angle-right saIcon"></i></button><button type="button"><i
								class="far fa-angles-right saIcon"></i></button>
					</div>
					<div class="saButtons"><label class="saInputTextWrapper saLabeled saGroupingGrid"><span
								class="saLabeledLabel saGroupingGridLabel">Gruppera på</span>
							<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div><select
								class="saInputText saDropdown saGridGroupingDropdown">
								<option>(Ingenting)</option>
								<option>Log type</option>
								<option>First</option>
								<option>Latest</option>
								<option>Errors</option>
								<option>Menu item name</option>
								<option>Menu item ID</option>
								<option>Message</option>
							</select>
						</label><button class="saGridButton " type="button"><span
								class="saIcon far fa-sliders"></span></button><button class="saGridButton saExcel"
							type="button"><span class="saIcon far fa-file-excel"></span></button></div>
				</div>
				<div class="saComponentContentLinksWrapper">
					<ul class="saComponentContentLinks">
						<li class="saActionLink"><button class="saComponentContentLinkButton saButtonSecondary"
								type="button">
								<div class="saIconHolder saOptionIcon"><i
										class="far fa-magnifying-glass icon saIcon"></i></div><span
									class="saButtonText saOptionText">Search application errors and log</span>
							</button></li>
						<li class="saActionLink"><button
								class="saComponentContentLinkButton saButtonSecondary saInactive" type="button">
								<div class="saIconHolder saOptionIcon"><i class="far fa-trash icon saIcon"></i></div>
								<span class="saButtonText saOptionText">Delete selected log groups</span>
							</button></li>
						<li class="saActionLink"><button
								class="saComponentContentLinkButton saButtonSecondary saDestructive" type="button">
								<div class="saIconHolder saOptionIcon"><i class="far fa-trash icon saIcon"></i></div>
								<span class="saButtonText saOptionText">Delete all</span>
							</button></li>
						<div class="saCollectorWrapper" style="display: none;">
							<div class="saContextMenu saSouth" style="display: none;">
								<ul class="saActionLinkList">
									<li style="display: none;"><a class="saOptionWrapper">
											<div class="saOption">
												<div class="saIconHolder saOptionIcon"><i
														class="far fa-magnifying-glass icon saIcon"></i></div><span
													class="saButtonText saOptionText">Search application errors and
													log</span>
											</div>
										</a></li>
									<li style="display: none;"><a class="saOptionWrapper saInactive">
											<div class="saOption">
												<div class="saIconHolder saOptionIcon"><i
														class="far fa-trash icon saIcon"></i></div><span
													class="saButtonText saOptionText">Delete selected log groups</span>
											</div>
										</a></li>
									<li style="display: none;"><a class="saOptionWrapper saDestructive">
											<div class="saOption">
												<div class="saIconHolder saOptionIcon"><i
														class="far fa-trash icon saIcon"></i></div><span
													class="saButtonText saOptionText">Delete all</span>
											</div>
										</a></li>
								</ul>
								<ul class="saNavigationLinkList"></ul>
							</div><button class="saMoreButton" type="button"><i
									class="far fa-ellipsis-vertical icon saIcon"></i></button>
						</div>
					</ul>
				</div>
			</div>
			<table class="saGrid">
				<caption>Application errors and log</caption>
				<thead class="saGridHead stickyheader">
					<tr class="saGridHeadingRow">
						<th class="saGridRowControls saGridSpecialHeader saLocked saGridCheckbox">
							<ul>
								<li><input class="saCheckbox" type="checkbox"></li>
							</ul>
						</th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">Log type</span></a><img
								class="draghandle" style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">First</span></a><img
								class="draghandle" style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort saSorted"><span class="saGridHeadingLabel">Latest</span><i
									class="saIcon fas fa-caret-up"></i></a><img class="draghandle"
								style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">Errors</span></a><img
								class="draghandle" style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">Menu item
									name</span></a><img class="draghandle" style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">Menu item
									ID</span></a><img class="draghandle" style="height: 30px;"></th>
						<th><a class="saGridHeadingInner sort"><span class="saGridHeadingLabel">Message</span></a><img
								class="draghandle" style="height: 30px;"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="saGridRow hascontextmenu">
						<td class="saGridRowControls">
							<ul>
								<li class="saGridCheckbox"><input class="saCheckbox" type="checkbox"></li>
								<li><button type="button" class="saGridRowButton inactive" disabled><i
											class="fas fa-eye icon saIcon"></i></button></li>
							</ul>
						</td>
						<td>
							<div class="saGridCell">
								<nobr><span class="systemicon saSystemIcon saNoSpinner"><i
											class="fas fa-octagon-exclamation iconred icon saIcon"></i></span><span
										class="saGridText">Error</span></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-03 08:16</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-03 08:16</nobr>
							</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr>1</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Calendar</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr><a class="saLink"><span class="saLinkText">73</span></a></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Text</div>
						</td>
					</tr>
					<tr class="saGridRow hascontextmenu">
						<td class="saGridRowControls">
							<ul>
								<li class="saGridCheckbox"><input class="saCheckbox" type="checkbox"></li>
								<li><button type="button" class="saGridRowButton"><i
											class="fas fa-eye icon saIcon"></i></button></li>
							</ul>
						</td>
						<td>
							<div class="saGridCell">
								<nobr><span class="systemicon saSystemIcon saNoSpinner"><i
											class="fas fa-octagon-exclamation iconred icon saIcon"></i></span><span
										class="saGridText">Error</span></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-04-23 10:29</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-03 08:08</nobr>
							</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr>7</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Logga ut</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr><a class="saLink"><span class="saLinkText">90 001</span></a></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Text</div>
						</td>
					</tr>
					<tr class="saGridRow hascontextmenu">
						<td class="saGridRowControls">
							<ul>
								<li class="saGridCheckbox"><input class="saCheckbox" type="checkbox"></li>
								<li><button type="button" class="saGridRowButton"><i
											class="fas fa-eye icon saIcon"></i></button></li>
							</ul>
						</td>
						<td>
							<div class="saGridCell">
								<nobr><span class="systemicon saSystemIcon saNoSpinner"><i
											class="fas fa-octagon-exclamation iconred icon saIcon"></i></span><span
										class="saGridText">Error</span></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-04-23 10:29</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-03 08:08</nobr>
							</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr>7</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Logga ut</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr><a class="saLink"><span class="saLinkText">90 001</span></a></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">Text</div>
						</td>
					</tr>
					<tr class="saGridRow hascontextmenu">
						<td class="saGridRowControls">
							<ul>
								<li class="saGridCheckbox"><input class="saCheckbox" type="checkbox"></li>
								<li><button type="button" class="saGridRowButton"><i
											class="fas fa-eye icon saIcon"></i></button></li>
							</ul>
						</td>
						<td>
							<div class="saGridCell">
								<nobr><span class="systemicon saSystemIcon saNoSpinner"><i
											class="fas fa-octagon-exclamation iconred icon saIcon"></i></span><span
										class="saGridText">Error</span></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-04-21 00:00</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-03 00:00</nobr>
							</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr>73</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell"></div>
						</td>
						<td class="right">
							<div class="saGridCell"></div>
						</td>
						<td>
							<div class="saGridCell">Text</div>
						</td>
					</tr>
					<tr class="saGridRow saGridRowEvery5th hascontextmenu">
						<td class="saGridRowControls">
							<ul>
								<li class="saGridCheckbox"><input class="saCheckbox" type="checkbox"></li>
								<li><button type="button" class="saGridRowButton"><i
											class="fas fa-eye icon saIcon"></i></button></li>
							</ul>
						</td>
						<td>
							<div class="saGridCell">
								<nobr><span class="systemicon saSystemIcon saNoSpinner"><i
											class="fas fa-triangle-exclamation iconyellow icon saIcon"></i></span><span
										class="saGridText">Warning</span></nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-04-21 10:39</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell">
								<nobr>2026-07-01 21:15</nobr>
							</div>
						</td>
						<td class="right">
							<div class="saGridCell">
								<nobr>28</nobr>
							</div>
						</td>
						<td>
							<div class="saGridCell"></div>
						</td>
						<td class="right">
							<div class="saGridCell"></div>
						</td>
						<td>
							<div class="saGridCell">Text</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="saPagination"><button type="button"><i
						class="saC sa-angle-left-to-line saIcon"></i></button><button type="button"><i
						class="far fa-angle-left saIcon"></i></button>
				<div class="saPaginationPages"><input><span> av 13</span></div><button type="button"><i
						class="far fa-angle-right saIcon"></i></button><button type="button"><i
						class="saC sa-angle-right-to-line saIcon"></i></button>
			</div>
		</div>
	</div>
</softadmin-grid>
