<softadmin-imagegallery class="saMenuItemRoot">
	<div class="saGalleryWrapper saColumnsSmall">
		<div class="saGalleryToolbarWrapper">
			<div class="saGalleryToolbar">
				<fieldset class="saToggleGrid">
					<legend class="saScreenReaderOnly">Ändra bildernas storlek</legend>
					<label class="saSelected">
						<input type="radio">
						<i class="saIcon fas fa-grid-3"></i>
					</label>
					<label>
						<input type="radio">
						<i class="saIcon fas fa-grid-2"></i>
					</label>
				</fieldset>
			</div>
		</div>
		<div class="saGallery saGalleryCover">
			<div class="saGalleryGroup">
				<button class="saHeadingButton saOpen" type="button">
					<h2>Group name</h2>
					<div class="saBadgeCount">23</div>
					<i class="saIcon far fa-angle-down"></i>
				</button>
				<ul>
					<li class="saGalleryItem saGalleryItemJs">
						<div class="saGalleryItemImg">
							<span class="saGalleryLoadingText">Laddar...</span>
							<img>
						</div>
						<div class="saGalleryItemBody">
							<span class="saGalleryItemCaption">Caption</span>
							<span class="saGalleryItemDescription">Description</span>
						</div>
					</li>
					<li class="saGalleryItem saGalleryItemJs">
						<div class="saGalleryItemImg">
							<span class="saGalleryLoadingText">Laddar...</span>
							<img>
						</div>
						<div class="saGalleryItemBody">
							<span class="saGalleryItemCaption">Caption</span>
							<span class="saGalleryItemDescription">Description</span>
						</div>
					</li>
					<li class="saGalleryItem saGalleryItemJs">
						<div class="saGalleryItemImg">
							<span class="saGalleryLoadingText">Laddar...</span>
							<img>
						</div>
						<div class="saGalleryItemBody">
							<span class="saGalleryItemCaption">Caption</span>
							<span class="saGalleryItemDescription">Description</span>
						</div>
					</li>
					<li class="saGalleryItem saGalleryItemJs">
						<div class="saGalleryItemImg">
							<span class="saGalleryLoadingText">Laddar...</span>
							<img>
						</div>
						<div class="saGalleryItemBody">
							<span class="saGalleryItemCaption">Caption</span>
							<span class="saGalleryItemDescription">Description</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</softadmin-imagegallery>
