<softadmin-imagegallery class="saMenuItemRoot">
	<div class="saGalleryWrapper saColumnsLarge">
		<div class="saGalleryToolbarWrapper">
			<div class="saGalleryToolbar">
				<fieldset class="saToggleGrid">
					<legend class="saScreenReaderOnly">Change image size</legend>
					<label><input type="radio" name="gallery-size" value="small"><i class="saIcon fas fa-grid-3"></i></label>
					<label class="saSelected"><input type="radio" name="gallery-size" value="large" checked><i class="saIcon fas fa-grid-2"></i></label>
				</fieldset>
			</div>
		</div>
		<div class="saGallery saGalleryCover">
			<div class="saGalleryGroup">
				<button class="saHeadingButton saOpen" type="button" aria-expanded="true">
					<h2>Project team</h2><div class="saBadgeCount">3</div><i class="saIcon far fa-angle-down"></i>
				</button>
				<ul>
					<li class="saGalleryItem saGalleryItemJs" tabindex="0">
						<div class="saGalleryItemImg"><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&amp;fit=crop&amp;w=400&amp;q=80" alt="Anna Lindberg"></div>
						<div class="saGalleryItemBody"><span class="saGalleryItemCaption">Anna Lindberg</span><span class="saGalleryItemDescription">Project manager</span></div>
					</li>
					<li class="saGalleryItem saGalleryItemJs" tabindex="0">
						<div class="saGalleryItemImg"><img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&amp;fit=crop&amp;w=400&amp;q=80" alt="Erik Johansson"></div>
						<div class="saGalleryItemBody"><span class="saGalleryItemCaption">Erik Johansson</span><span class="saGalleryItemDescription">Developer</span></div>
					</li>
					<li class="saGalleryItem saGalleryItemJs" tabindex="0">
						<div class="saGalleryItemImg"><img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&amp;fit=crop&amp;w=400&amp;q=80" alt="Sara Nilsson"></div>
						<div class="saGalleryItemBody"><span class="saGalleryItemCaption">Sara Nilsson</span><span class="saGalleryItemDescription">Designer</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</softadmin-imagegallery>
