<softadmin-infosql class="maincolbody infoarea saInfoArea">
	<div class="saInfoBoxAreaWrapper">
		<div class="saInfoBoxArea">
			<div class="saRowWrapper">
				<div class="saColWrapper">
					<div class="saCol">
						<div class="saInfoBox saOpen">
							<div class="saInfoBoxInner">
								<div class="saInfoBoxCol saInfoBoxChartCol">
									<div class="saInfoBoxContent saInfoBoxChartContent">
										<div class="saInfoSqlChartWrapper">
											<div class="saInfoSqlChartScrollable">
											<div class="saChartWrapper">
												<h3 class="saChartHeading">Rolling revenue</h3>
												<svg viewBox="0 0 1000 480" preserveAspectRatio="xMinYMin meet" role="img">
													<g class="saXYChart">
														<g class="saGridLine"><g class="saStrongLine"><line stroke="currentColor" x1="76" x2="746" y1="404" y2="404"></line></g><g><line stroke="currentColor" x1="76" x2="746" y1="214" y2="214"></line></g><g><line stroke="currentColor" x1="76" x2="746" y1="24" y2="24"></line></g></g>
														<g class="saXAxis saStrongLine"><path class="domain" stroke="currentColor" d="M76,404H746"></path><text class="saXYChartLabel" x="76" y="432">Jan</text><text class="saXYChartLabel" x="411" y="432">Feb</text><text class="saXYChartLabel" x="746" y="432">Mar</text></g>
														<path class="saLineArea" d="M76,404L76,180L411,150L746,92L746,404Z" style="fill:#2d6ce11f"></path>
														<path fill="none" stroke="#2d6ce1" class="saChartLine" d="M76,180L411,150L746,92"></path>
														<g class="saChartLegend" transform="translate(780,24)"><g class="saLegendItem"><rect width="18" height="18" rx="2" fill="#2d6ce1"></rect><text class="saLegendText" x="28" y="14">Enterprise</text></g></g>
													</g>
												</svg>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-infosql>
