<softadmin-infosql class="infoarea saInfoArea">
	<div class="saInfoBoxAreaWrapper">
		<div class="saInfoBoxArea">
			<div class="saRowWrapper">
				<div class="saColWrapper">
					<div class="saCol">
						<div class="saInfoBox saOpen">
							<div class="saInfoBoxInner">
								<div class="saInfoBoxCol">
									<p class="saInfoBoxContent">
										<div class="saInfoSqlChartWrapper">
											<div class="saChartWrapper">
												<h3 class="saChartHeading">Total server time by type</h3>
												<p class="saChartDescription">Total server time in seconds by type during the last 31 days.</p>
												<svg viewBox="0 0 1000 440" preserveAspectRatio="xMinYMin meet">
													<g class="saPieChart">
														<g class="saPieArc"><path d="M210,210L210,30A180,180,0,1,1,174.2,33.6Z" fill="#0f44a6"></path></g>
														<g class="saPieArc"><path d="M210,210L174.2,33.6A180,180,0,0,1,210,30Z" fill="#2d6ce1"></path></g>
														<g class="saLegendItem" transform="translate(450,90)"><rect width="24" height="24" fill="#0f44a6"></rect><text class="saLegendText" x="38" y="18">Background tasks</text></g>
														<g class="saLegendItem" transform="translate(450,138)"><rect width="24" height="24" fill="#2d6ce1"></rect><text class="saLegendText" x="38" y="18">Menu items</text></g>
													</g>
												</svg>
											</div>
										</div>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-infosql>
