<softadmin-infosql class="infoarea saInfoArea">
	<div class="saInfoBoxAreaWrapper">
		<div class="saInfoBoxArea">
			<div class="saRowWrapper">
				<div class="saColWrapper">
					<div class="saCol">
						<div class="saInfoBox saOpen">
							<div class="saInfoBoxInner">
								<div class="saInfoBoxCol">
									<p class="saInfoBoxContent">
										<div class="saInfoSqlKpiWrapper">
											<div class="saKpiOuter">
												<span class="saKpiHeading">Average menu item execution time</span>
												<div class="saKpiWrapper">
													<div class="saKpi"><span class="saKpiValue">343</span><span class="saKpiSuffix">ms</span></div>
													<div class="saTrendWrapper">
														<div class="saTrend saPositive"><i class="far fa-arrow-trend-down"></i><div class="saTrendInner"><span class="saTrendValue">-18</span><span class="saTrendSuffix">%</span></div></div>
														<span class="saTrendPeriod">compared to previous 31 days</span>
													</div>
												</div>
											</div>
										</div>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-infosql>
