<softadmin-infosql class="maincolbody infoarea saInfoArea">
	<div class="saInfoBoxAreaWrapper">
		<div class="saInfoBoxArea">
			<div class="saRowWrapper">
				<div class="saColWrapper">
					<div class="saCol">
						<div class="saInfoBox saOpen">
							<div class="saInfoBoxInner">
								<div class="saInfoBoxCol">
									<div class="saInfoBoxContent">
										<div class="saInfoSqlMeterWrapper">
											<div class="saMeterOuter">
												<h3 class="saMeterHeading">Utilization Aug</h3>
												<svg width="100%" viewBox="0 0 260 120" role="img">
													<path fill="none" class="saMeterRed saMeterValue" d="M60,115A70,70,0,0,1,84.16,62.1"></path>
													<path fill="none" class="saMeterUnreachedValue saMeterValue" d="M84.16,62.1A70,70,0,0,1,200,115"></path>
													<text class="saMeterValueText" x="130" y="115"><tspan font-size="32px">47</tspan><tspan font-size="16px" dx="2">%</tspan></text>
													<g class="saMeterIntervalWithTooltip"><path fill="none" class="saMeterRed saIntervalVisibleArc" d="M35,115A95,95,0,0,1,90.536,28.585"></path><path fill="none" class="saIntervalTooltip" d="M35,115A95,95,0,0,1,90.536,28.585" data-tooltip="35% - 51%"></path></g>
													<g class="saMeterIntervalWithTooltip"><path fill="none" class="saMeterYellow saIntervalVisibleArc" d="M90.536,28.585A95,95,0,0,1,103.235,23.848"></path><path fill="none" class="saIntervalTooltip" d="M90.536,28.585A95,95,0,0,1,103.235,23.848" data-tooltip="51% - 53%"></path></g>
													<g class="saMeterIntervalWithTooltip"><path fill="none" class="saMeterGreen saIntervalVisibleArc" d="M103.235,23.848A95,95,0,0,1,225,115"></path><path fill="none" class="saIntervalTooltip" d="M103.235,23.848A95,95,0,0,1,225,115" data-tooltip="53% - 79%"></path></g>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-infosql>
