<softadmin-inlinedocument class="saInlineDocumentWrapper saMenuItemRoot">
	<div class="saInlineHeader">
		<label class="saInputTextWrapper saLabeled">
			<span class="saLabeledLabel">Document</span>
			<select class="saInputText saDropdown">
				<option value="0" selected>Crow-as-a-pet.pdf</option>
				<option value="1">Full documentation</option>
			</select>
			<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
		</label>
		<div class="saInlineButtonGroup">
			<button type="button" title="Previous document" disabled><i class="saIcon fa-caret-up fas"></i></button>
			<button type="button" title="Next document"><i class="saIcon fa-caret-down fas"></i></button>
		</div>
	</div>
	<div class="saViewWrapper" style="height: calc(-148px + 100vh);">
		<a class="saInlineDownload" download href="crow.pdf">
			<i class="far saIcon fa-file-pdf"></i>
			<div class="saInlineDownloadHeading">Crow-as-a-pet.pdf</div>
			<div class="saInlineDownloadDescription">This document can't be viewed inline, but you can download it and open it anytime.</div>
			<div class="saInlineDownloadButton"><i class="far fa-arrow-down-to-bracket"></i><div>Download</div></div>
		</a>
	</div>
</softadmin-inlinedocument>
