<softadmin-inlinedocument class="saInlineDocumentWrapper saMenuItemRoot">
	<div class="saInlineHeader">
		<label class="saInputTextWrapper saLabeled">
			<span class="saLabeledLabel">Dokument</span>
			<select class="saInputText saDropdown">
				<option value="1">document-name-1.pdf</option>
				<option value="2">document-name-2.pdf</option>
			</select>
			<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
		</label>
		<div class="saInlineButtonGroup">
			<button><i class="saIcon fa-caret-up fas" aria-hidden="true"></i></button>
			<button><i class="saIcon fa-caret-down fas" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="saViewWrapper" style="height: calc(-185px + 100vh);">
		<iframe class="saInlineFrame" src="document-name-1.pdf"></iframe>
	</div>
</softadmin-inlinedocument>