<softadmin-linearprocess class="maincolbody saMenuItemRoot">
	<div class="saLinearProcess saHasWrapped">
		<div class="saStepOuter medium">
			<div class="saStepWrapper medium">
				<a class="saStep saHasLink" style="min-height: 4.8rem;">
					<div class="saStepInnerWrapper" style="background-color: rgb(218, 234, 255);">
						<div class="saStepInner">
							<div class="saStepLine" style="background-color: rgb(22, 104, 224);"></div>
							<div class="saStepTextWrapper" style="color: rgb(22, 104, 224);">
								<span class="saStepHeading">Title 1</span>
								<span class="saStepBody">Body text 2</span>
							</div>
						</div>
					</div>
				</a>
				<div class="saStepCaption medium">Caption 1</div><i class="saIcon saStepBetween saStepAfter" style="height: 4.7rem;"></i>
			</div>
			<i class="saIcon far fa-arrow-right saStepBetween saStepBetweenArrow" style="height: 4.7rem; visibility: hidden;"></i>
		</div>
		<div class="saStepOuter medium">
			<div class="saStepWrapper medium">
				<div class="saStep" style="min-height: 4.8rem;">
					<div class="saStepInnerWrapper" style="background-color: rgb(218, 234, 255);">
						<div class="saStepInner">
							<div class="saStepLine" style="background-color: rgb(22, 104, 224);"></div>
							<div class="saStepTextWrapper" style="color: rgb(22, 104, 224);">
								<span class="saStepHeading">Title 2</span>
								<span class="saStepBody">Body text 2</span>
							</div>
						</div>
					</div>
				</div>
				<div class="saStepCaption medium">Caption 2</div>
				<i class="saIcon far fa-arrow-right saStepBetween saStepBetweenArrow" style="height: 4.7rem;"></i>
			</div>
		</div>
		<div class="saStepOuter medium">
			<div class="saStepWrapper medium">
				<div class="saStep" style="min-height: 4.8rem;">
					<div class="saStepInnerWrapper" style="background-color: rgb(218, 234, 255);">
						<div class="saStepInner">
							<div class="saStepLine" style="background-color: rgb(22, 104, 224);"></div>
							<div class="saStepTextWrapper" style="color: rgb(22, 104, 224);">
								<span class="saStepHeading">Title 3</span>
								<span class="saStepBody">Body text 3</span>
							</div>
						</div>
					</div>
				</div>
				<div class="saStepCaption medium">Caption 3</div>
			</div>
		</div>
	</div>
</softadmin-linearprocess>