<softadmin-linearprocess class="maincolbody saMenuItemRoot">
	<div class="saLinearProcess saHasWrapped">
		<div class="saStepOuter medium">
			<div class="saStepWrapper medium">
				<a class="saStep saHasLink" tabindex="0" style="min-height: 4.8rem;">
					<div class="saStepInnerWrapper" style="background-color: rgb(218, 234, 255);"><div class="saStepInner"><div class="saStepLine" style="background-color: rgb(22, 104, 224);"></div><div class="saStepTextWrapper" style="color: rgb(22, 104, 224);"><span class="saStepHeading">Application received</span><span class="saStepBody">Submitted today</span></div></div></div>
				</a>
				<div class="saStepCaption medium">Complete</div>
				<i class="saIcon saStepBetween saStepAfter" style="height: 4.7rem;"></i>
			</div>
			<i class="saIcon far fa-arrow-right saStepBetween saStepBetweenArrow" style="height: 4.7rem; visibility: hidden;"></i>
		</div>
		<div class="saStepOuter medium">
			<div class="saStepWrapper medium">
				<div class="saStep" style="min-height: 4.8rem;"><div class="saStepInnerWrapper" style="background-color: rgb(218, 234, 255);"><div class="saStepInner"><div class="saStepLine" style="background-color: rgb(22, 104, 224);"></div><div class="saStepTextWrapper" style="color: rgb(22, 104, 224);"><span class="saStepHeading">Review</span><span class="saStepBody">In progress</span></div></div></div></div>
				<div class="saStepCaption medium">Current step</div>
				<i class="saIcon saStepBetween saStepBefore" style="height: 4.7rem;"></i>
			</div>
		</div>
	</div>
</softadmin-linearprocess>
