<!-- Small Link Cards -->
<softadmin-linkcards class="saMenuItemRoot">
	<div class="saLinkCardsOuter saSmall">
		<ul class="saLinkCardsInner">
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-crow icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<span class="saBadgeCount">2</span><i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-bird icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</softadmin-linkcards>

<!-- Medium Link Cards -->
<softadmin-linkcards class="saMenuItemRoot">
	<div class="saLinkCardsOuter saMedium">
		<ul class="saLinkCardsInner">
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-crow icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<span class="saBadgeCount">2</span><i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-bird icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</softadmin-linkcards>

<!-- Large Link Cards -->
<softadmin-linkcards class="saMenuItemRoot">
	<div class="saLinkCardsOuter saLarge">
		<ul class="saLinkCardsInner">
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-crow icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<span class="saBadgeCount">2</span><i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
			<li>
				<a class="saLinkCard">
					<div class="saLinkCardImage saNoSpinner"><i class="far fa-bird icon saIcon"></i></div>
					<div class="saLinkCardInner">
						<span class="saLinkCardTitle">Card title<i class="saIcon far fa-arrow-up-right"></i></span>
						<span class="saLinkCardDescription">Card description.</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</softadmin-linkcards>