<softadmin-linklist class="maincolbody linklist saMenuItemRoot">
	<div class="saMenuBoxWrapper saLinkList">
		<div class="saColumn">
			<!-- No label, no unread, no heading -->
			<div class="saMenuBox">
				<ul>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
				</ul>
			</div>

			<!-- No label, no unread, with heading -->
			<div class="saMenuBox">
				<h2 class="saMenuBoxHeading">List</h2>
				<ul>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
				</ul>
			</div>

			<!-- with label, with unread, with heading -->
			<div class="saMenuBox saHasUnread">
				<h2 class="saMenuBoxHeading">List</h2>
				<ul>
					<li class="saMenuItemWrapper saUnread">
						<a class="saMenuItem">
							<span class="saLinkListRowLabel">2028-07-03</span>
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<span class="saLinkListRowLabel">2028-07-02</span>
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
					<li class="saMenuItemWrapper">
						<a class="saMenuItem">
							<span class="saLinkListRowLabel">2028-07-01</span>
							<div class="saLinkListRowHeading"><span>Heading</span></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</softadmin-linklist>