<softadmin-menuitems class="maincolbody saMenuGroup">
	<div class="saMenuBoxWrapper">
		<div class="saColumn">
			<div class="saMenuBox">
				<span class="saMenuBoxHeading">Logs</span>
				<ul>
					<li class="saMenuItemWrapper saHasDescription saFeatured saFeatured4 saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder saIconHolderFeatured">
								<i class="far fa-clipboard-list icon saIcon"></i>
							</div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">Application errors and log</span>
								<span class="saMenuItemTextDesc">Errors, warnings and diagnostic messages.</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saFeatured saFeatured2 saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder saIconHolderFeatured">
								<i class="far fa-stopwatch icon saIcon"></i>
							</div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">Performance Center</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-user-clock icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Recent logins</span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="saMenuBox">
				<span class="saMenuBoxHeading">Customization</span>
				<ul>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-image-landscape icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Theme</span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-sidebar icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Menu</span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saHasDescription saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-font icon saIcon"></i></div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">PDF fonts</span>
								<span class="saMenuItemTextDesc">Manage fonts for the PDF components.</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-cube icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Database errors<span class="saMenuItemPill saDeprecated">Utfasas</span></span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-mobile icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Web app configuration<span class="saMenuItemPill saBeta">Beta</span></span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="saColumn">
			<div class="saMenuBox">
				<span class="saMenuBoxHeading">Development</span>
				<ul>
					<li class="saMenuItemWrapper saHasDescription saFeatured saFeatured2 saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder saIconHolderFeatured">
								<span class="saBadgedIcon">
									<i class="far fa-triangle-exclamation icon saIcon"></i>
									<i class="far fa-list list badge saBadge"></i>
								</span>
							</div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">Project inspection</span>
								<span class="saMenuItemTextDesc">Finds common problems with the system.</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saHasDescription saFeatured saFeatured4 saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder saIconHolderFeatured">
								<i class="far fa-code-branch icon saIcon"></i>
							</div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">Version history</span>
								<span class="saMenuItemTextDesc">Tracks changes to SQL modules.</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-scroll icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Deploy scripts</span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
					<li class="saMenuItemWrapper saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-book icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Softadmin® Documentation</span>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="saMenuBox">
				<span class="saMenuBoxHeading">Softadmin® Version 8.4.1.2</span>
				<ul>
					<li class="saMenuItemWrapper saInactive">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-seal-exclamation icon saIcon"></i></div>
							<span class="saMenuItemTextHeading">Latest hotfix is installed</span>
						</a>
					</li>
					<li class="saMenuItemWrapper saHasDescription saSelectable">
						<a class="saMenuItem">
							<div class="saIconHolder"><i class="far fa-circle-arrow-up icon saIcon"></i></div>
							<div class="saMenuItemText">
								<span class="saMenuItemTextHeading">Softadmin® version upgrade</span>
								<span class="saMenuItemTextDesc">View details about your Softadmin® version and upgrade to a newer release.</span>
							</div>
						</a>
						<div class="saMenuItemTools">
							<button class="saIconWrapper saFavoriteToggle saNoSpinner" type="button">
								<i class="saIcon far fa-star"></i>
								<i class="saIcon fas fa-star"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</softadmin-menuitems>
