<div class="saMultiPartContainer" style="grid-template-columns: minmax(min-content,max-content) minmax(min-content,max-content); grid-template-rows: minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content)">
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column: 1 / span 2; grid-row-start: 1; overflow: auto;">
		<div class="menuitem part">
			<div class="saPageHeaderHolder saMultiPartPageHeaderHolder">
				<div class="saPartHeader">
					<div class="saPartHeading">
						<div class="saPartTitleWrapper">
							<h2>Bonusgrundande faktureringsgrad</h2>
							<ul class="saSpecialLinksWrapper saNoSpinner">
								<li class="saExcel"><button type="button"><i class="far fa-file-excel icon saIcon"></i></button></li>
							</ul>
						</div>
						<div class="saExpandWrapper"><button class="saExpand" type="button"><i class="saIcon far fa-angle-up"></i></button></div>
					</div>
				</div>
			</div>
			<div class="saMultiPartContent">
				<div class="saPartButtons">
					<nav class="saNavigationBar saActionLinkBar saDesktopNavigationBar" style="display: none;"></nav>
					<nav class="saNavigationBar saActionLinkBar saSmallScreenNavigationBar" style="display: none;"></nav>
				</div>
				<softadmin-component></softadmin-component>
			</div>
		</div>
	</div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column-start: 1; grid-row-start: 2; overflow: auto;">   <!--menuitem part--></div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column-start: 1; grid-row-start: 3; overflow: auto;">   <!--menuitem part--></div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column-start: 1; grid-row-start: 4; overflow: auto;">   <!--menuitem part--></div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column: 1 / span 2; grid-row-start: 5; overflow: auto;"><!--menuitem part--></div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column: 1 / span 2; grid-row-start: 6; overflow: auto;"><!--menuitem part--></div>
	<div class="saMultiPartPanel saHasBorder saFitToContent saFitToContentWidth" style="grid-column-start: 1; grid-row-start: 7; overflow: auto;">   <!--menuitem part--></div>
</div>