<div class="maincolbody saInputPage">
	<div>
		<div class="saErrorSummaryHolder">
			<div class="saErrorSummaryWrapper">
				<div class="saErrorSummaryHeadingWrapper"><i class="saIcon fas fa-octagon-xmark"></i>
					<h3 class="saErrorSummaryHeading">Fix the following errors to continue:</h3>
				</div><button class="saErrorSummaryCloseButton" type="button"><i
						class="saIcon far fa-xmark"></i></button>
				<ul class="saErrorSummary"></ul>
			</div>
		</div>
		<div class="saFormRootAndTocWrapper">
			<fieldset class="saFormRoot saLabelsAbove">
				<div class="saSectionWrapper saLastVisible">
					<div class="saFieldsRow">
						<div class="saFieldsColumn saLastVisible">
							<div class="saSectionWrapper saLastVisible">
								<div class="saFieldCollection">
									<div class="saFieldAndLabelWrapper"><label class="saLabelCell">
											<div class="saLabel"><span>Checkbox Cards Small</span></div>
										</label>
										<div class="saFieldCell">
											<div class="saInputWrapper">
												<div class="saInput">
													<div class="saInputCardsWrapper saCheckboxCardsWrapper saInputPageField saEmpty">
														<fieldset class="saInputCards saCheckboxWrapperJs saSmall">
															<label class="saInputCardWrapper saCheckboxCard saActive saNoHeading saSmall">
																<input class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 1</div>
																</div>
															</label>
															<label class="saInputCardWrapper saCheckboxCard saActive saNoHeading saSmall">
																<input class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 2</div>
																</div>
															</label>
															<label class="saInputCardWrapper saCheckboxCard saActive saNoHeading saSmall">
																<input class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 3</div>
																</div>
															</label>
														</fieldset>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="saFieldAndLabelWrapper"><label class="saLabelCell">
											<div class="saLabel"><span>Checkbox Cards Medium</span></div>
										</label>
										<div class="saFieldCell">
											<div class="saInputWrapper">
												<div class="saInput">
													<div
														class="saInputCardsWrapper saCheckboxCardsWrapper saInputPageField saEmpty">
														<fieldset class="saInputCards saCheckboxWrapperJs saMedium">
															<label
																class="saInputCardWrapper saCheckboxCard saActive saNoHeading saMedium"><input
																	class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 1</div>
																	<div class="saInputCardDescription">Description text
																	</div>
																</div>
															</label><label
																class="saInputCardWrapper saCheckboxCard saActive saNoHeading saMedium"><input
																	class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 2</div>
																	<div class="saInputCardDescription">Description text
																	</div>
																</div>
															</label><label
																class="saInputCardWrapper saCheckboxCard saActive saNoHeading saMedium"><input
																	class="saCheckboxJs saCheckbox" type="checkbox">
																<div class="saInputCardBody">
																	<div class="saInputCardHeading">Label 3</div>
																	<div class="saInputCardDescription">Description text
																	</div>
																</div>
															</label></fieldset>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="saFieldAndLabelWrapper saCheckboxFieldAndLabelWrapper"><label
											class="saLabelCell">
											<div class="saLabel"><span>Checkbox Cards Large</span></div>
										</label>
										<div class="saFieldCell">
											<div class="saInputWrapper">
												<div class="saInput">
													<div class="saCheckboxControl saCheckboxWrapper saInputPageField">
														<input class="saCheckbox" type="checkbox"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="saInputPageFooter">
		<div class="saFormButtonGroup">
			<button class="saFormButton saButtonPrimary" type="button"><i class="icon fas fa-spin fa-spinner saSpinner"></i>Save</button>
			<button class="saFormButton saButtonSecondary" type="button"><i class="icon fas fa-spin fa-spinner saSpinner"></i>Cancel</button>
		</div>
	</div>
</div>