<softadmin-pdftemplateeditor class="saMenuItemRoot saPdfTemplateEditor" style="height: calc(100dvh - 113px);">
	<aside class="saPdfTemplateEditorSidebar">
		<span class="saLastSavedText"></span>
		<div class="saAvailableValuesWrapper">
			<div class="saAvailableValuesGroupWrapper">
				<div class="saAvailableValuesGroupName">Front page</div>
				<ul class="saAvailableValuesGroup">
					<li class="saAvailableValue">
						<div class="saAvailableValueLabel">
							<i class="saIcon saDragHandle far fa-grip-dots-vertical"></i>
							<label>Subject</label>
						</div>
						<div class="saIconsWrapper">
							<i class="saIcon saInfoIcon far fa-circle-info"></i>
							<i class="saIcon saCheckMark far fa-check"></i>
						</div>
					</li>
					<li class="saAvailableValue saPlaced saMarked">
						<div class="saAvailableValueLabel">
							<i class="saIcon saDragHandle far fa-grip-dots-vertical"></i>
							<label>Author</label>
						</div>
						<div class="saIconsWrapper">
							<i class="saIcon saInfoIcon far fa-circle-info"></i>
							<i class="saIcon saCheckMark far fa-check"></i>
						</div>
					</li>
					<li class="saAvailableValue">
						<div class="saAvailableValueLabel">
							<i class="saIcon saDragHandle far fa-grip-dots-vertical"></i>
							<label>Summary</label>
						</div>
						<div class="saIconsWrapper">
							<i class="saIcon saInfoIcon far fa-circle-info"></i>
							<i class="saIcon saCheckMark far fa-check"></i>
						</div>
					</li>
				</ul>
			</div>
			<div class="saAvailableValuesGroupWrapper">
				<div class="saAvailableValuesGroupName">Other stuff</div>
				<ul class="saAvailableValuesGroup">
					<li class="saAvailableValue">
						<div class="saAvailableValueLabel">
							<i class="saIcon saDragHandle far fa-grip-dots-vertical"></i>
							<i class="saIcon far fa-image"></i>
							<label>Photo</label>
						</div>
						<div class="saIconsWrapper">
							<i class="saIcon saCheckMark far fa-check"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="saPdfPagination">
			<button class="saPageButton"><i class="saIcon far fa-arrow-left"></i></button>
			<span>1/5</span>
			<button class="saPageButton"><i class="saIcon far fa-arrow-right"></i></button>
		</div>
	</aside>
	<div class="saPdfTemplate">
		<div class="saPdfTemplateToolbarWrapper">
			<div class="saPdfTemplateToolbar">
				<div class="saPdfTemplateToolbarGroup">
					<ul class="saInputPair">
						<li>
							<label class="saInputTextWrapper saLabeled">
								<span class="saLabeledLabel">X</span>
								<input class="saInputText" type="number">
							</label>
						</li>
						<li>
							<label class="saInputTextWrapper saLabeled">
								<span class="saLabeledLabel">Y</span>
								<input class="saInputText" type="number">
							</label>
						</li>
					</ul>
					<ul class="saInputPair" style="display: none;">
						<li>
							<label class="saInputTextWrapper saLabeled" style="display: none;">
								<span class="saLabeledLabel">Bredd</span>
								<input class="saInputText" type="number">
							</label>
						</li>
						<li>
							<label class="saInputTextWrapper saLabeled" style="display: none;">
								<span class="saLabeledLabel">Höjd</span>
								<input class="saInputText" type="number">
							</label>
						</li>
					</ul>
					<ul class="saInputPair saHideBorder">
						<li>
							<label class="saInputTextWrapper saLabeled">
								<span class="saLabeledLabel">Typsnitt</span>
								<select class="saInputText saDropdown">
									<option value="0">Roboto</option>
								</select>
								<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
							</label>
						</li>
						<li>
							<div class="saNumberStepper">
								<button class="saDecreaseButton"><i class="saIcon far fa-minus"></i></button>
								<input class="saInputText saNumberStepper" type="number">
								<button class="saIncreaseButton"><i class="saIcon far fa-plus"></i></button>
							</div>
						</li>
					</ul>
				</div>
				<div class="saPdfTemplateToolbarGroup">
					<ul class="saPdfTemplateToolbarAlign">
						<li><button class="saToolbarButton"><i class="saIcon far fa-objects-align-left"></i></button></li>
						<li><button class="saToolbarButton" disabled><i class="saIcon far fa-objects-align-center-horizontal"></i></button></li>
						<li><button class="saToolbarButton"><i class="saIcon far fa-objects-align-top"></i></button></li>
						<li><button class="saToolbarButton"><i class="saIcon far fa-objects-align-center-vertical"></i></button></li>
						<li><button class="saToolbarButton"><i class="saIcon far fa-objects-align-bottom"></i></button></li>
					</ul>
					<ul class="saToolbarDistribute">
						<li><button class="saToolbarButton" disabled><i class="saIcon far fa-distribute-spacing-vertical"></i></button></li>
						<li><button class="saToolbarButton" disabled><i class="saIcon far fa-distribute-spacing-horizontal"></i></button></li>
					</ul>
					<ul>
						<li><button class="saToolbarButton saDestructive"><i class="saIcon far fa-trash-alt"></i></button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="saCanvasOuter">
			<div class="saCanvasInner">
				<div class="saCanvasWrapper">
					<canvas height="792" width="612"></canvas>
					<div class="saPlaceholder saSelected" style="left: 147.5px; top: 363px;">
						<span class="saPlaceholderTitle">Author</span>
						<div class="saPlaceholderValueWrapper">
							<span class="saPlaceholderValue saNoWidth" style="font-size: 1.5rem; font-family: 'Roboto', sans-serif;">Author</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-pdftemplateeditor>
