<softadmin-pivotgrid class="pivotgrid saMenuItemRoot">
	<div class="saPivotGridWrapper stickyheader">
		<table class="saPivotGrid">
			<caption>Pivot grid</caption>
			<thead>
				<tr>
					<th class="saPivotGridHeading saPivotGridFiller">
						<div class=" saTopLeftCell"><button class="saPivotGridTopButton saNoSpinner saExcel"
								type="button"><i class="saIcon far fa-file-excel"></i></button></div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner"><a class="sortableJs saSorted"><span>Col 2</span><i
									class="saIcon saSortIcon fas fa-caret-up"></i></a>
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
						</div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner"><a class="sortableJs">Col 3</a>
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
						</div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner"><a class="sortableJs">Col 4</a>
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
						</div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner"><a class="sortableJs">Col 5</a>
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
						</div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner"><a class="sortableJs">Col 1</a>
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a
								class="sortableJs saSorted"><span>Row 1</span><i
									class="saIcon saSortIcon fas fa-caret-up"></i></a>
						</div>
					</th>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs saClickable"><span>Cell value</span></td>
				</tr>
				<tr>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a
								class="sortableJs">Row 3</a>
						</div>
					</th>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs saClickable"><span>Cell value</span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
				</tr>
				<tr>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a
								class="sortableJs">Row 4</a>
						</div>
					</th>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs saClickable"><span>Cell value</span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
				</tr>
				<tr>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a
								class="sortableJs">Row 5</a>
						</div>
					</th>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs saClickable"><span>Cell value</span></td>
					<td class="saPivotGridCellJs"><span></span></td>
				</tr>
				<tr>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton saMoreButtonJs"
									type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a
								class="sortableJs">Row 2</a>
						</div>
					</th>
					<td class="saPivotGridCellJs saClickable"><span>Cell value</span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
					<td class="saPivotGridCellJs"><span></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</softadmin-pivotgrid>