<softadmin-pivotgrid class="pivotgrid saMenuItemRoot">
	<div class="saPivotGridWrapper saMultipleColumnButtons stickyheader">
		<table class="saPivotGrid">
			<caption>Revenue by month</caption>
			<thead>
				<tr>
					<th class="saPivotGridHeading saPivotGridFiller">
						<div class="saTopLeftCell"><button class="saPivotGridTopButton saNoSpinner saExcel" type="button"><i class="saIcon far fa-file-excel"></i></button></div>
					</th>
					<th class="saPivotGridHeading">
						<div class="saPivotGridHeadingInner">
							<div class="saLinkButtonWrapper"><button class="saLinkButton" type="button"><i class="far fa-heat icon saIcon"></i></button><button class="saLinkButton" type="button"><i class="far fa-binoculars icon saIcon"></i></button><button class="saLinkButton saMoreButtonJs" type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div>
							<a class="sortableJs saSorted" tabindex="0"><span>January</span><i class="saIcon saSortIcon fas fa-caret-up"></i></a>
						</div>
					</th>
					<th class="saPivotGridHeading"><div class="saPivotGridHeadingInner"><div class="saLinkButtonWrapper"><button class="saLinkButton" type="button"><i class="far fa-heat icon saIcon"></i></button><button class="saLinkButton" type="button"><i class="far fa-binoculars icon saIcon"></i></button><button class="saLinkButton saMoreButtonJs" type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a class="sortableJs" tabindex="0"><span>February</span></a></div></th>
					<th class="saPivotGridHeading"><div class="saPivotGridHeadingInner"><div class="saLinkButtonWrapper"><button class="saLinkButton" type="button"><i class="far fa-heat icon saIcon"></i></button><button class="saLinkButton" type="button"><i class="far fa-binoculars icon saIcon"></i></button><button class="saLinkButton saMoreButtonJs" type="button"><i class="saIcon far fa-ellipsis-vertical"></i></button></div><a class="sortableJs" tabindex="0"><span>March</span></a></div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="saPivotGridHeading"><div class="saPivotGridHeadingInner"><div class="saLinkButtonWrapper"><button class="saLinkButton" type="button"><i class="far fa-chart-line icon saIcon"></i></button></div><a class="sortableJs" tabindex="0"><span>Consulting</span></a></div></th>
					<td class="saPivotGridCellJs saClickable right"><span>125 000</span></td><td class="saPivotGridCellJs right"><span>98 000</span></td><td class="saPivotGridCellJs right"><span>143 000</span></td>
				</tr>
				<tr>
					<th class="saPivotGridHeading"><div class="saPivotGridHeadingInner"><div class="saLinkButtonWrapper"><button class="saLinkButton" type="button"><i class="far fa-chart-line icon saIcon"></i></button></div><a class="sortableJs" tabindex="0"><span>Support</span></a></div></th>
					<td class="saPivotGridCellJs right"><span>67 000</span></td><td class="saPivotGridCellJs right"><span>72 000</span></td><td class="saPivotGridCellJs right"><span>81 000</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</softadmin-pivotgrid>
