<softadmin-planner>
	<div class="saCalendarSection saDesktopCalendar saResourceCalendar saPlanner saShowTime saNarrow saSkipHours">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Juli 2029</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">Period</span>
					<select class="saInputText saDropdown">
						<option>Dag</option>
						<option>Arbetsvecka</option>
						<option>Vecka</option>
						<option>Månad</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">År</span>
					<select class="saInputText saDropdown">
						<option>2029</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<button class="saTodayButton" type="button">Idag</button>
				<div class="saToggleGroup">
					<label><input type="radio"><i class="fa-grid-4 saIcon fas"></i></label>
					<label><input type="radio"><i class="fa-grid-3 saIcon fas"></i></label>
				</div>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar saClosed">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading">
								<span class="saCalendarSidebarHeading">Juli 2029</span>
								<div class="saMonthBrowser">
									<button type="button"><i class="saIcon far fa-angle-left"></i></button>
									<button type="button"><i class="saIcon far fa-angle-right"></i></button>
								</div>
							</div>
							<div class="saDateRow">
								<div class="saWeekNr">27</div>
								<div class="saDate saDateElement saMarked">2</div>
								<div class="saDate saDateElement saMarked">3</div>
								<div class="saDate saDateElement saToday saMarked">4</div>
								<div class="saDate saDateElement saMarked">5</div>
								<div class="saDate saDateElement saMarked">6</div>
								<div class="saDate saDateElement">7</div>
								<div class="saDate saDateElement">8</div>
							</div>
						</div>
					</div>
					<div class="saCalendarSidebarSection saSidebarFilters"></div>
				</div>
			</div>
			<div class="saCalendar">
				<div class="saStickyTop">
					<div class="saWeek">
						<div class="saRowSticky">
							<div class="saPlannerCell saDateRowHeading">
								<button type="button" class="saIcon far fa-angles-left saCalendarSidebarExpander"></button>
							</div>
							<div class="saPlannerAggregateCell"></div>
						</div>
						<div class="saWeekDay saDynamicWidthJs" style="width: 160px; min-width: 160px;">
							Måndag<span class="saDateNumber">2 jul</span>
						</div>
						<div class="saWeekDay saDynamicWidthJs saDateIsToday" style="width: 160px; min-width: 160px;">
							Tisdag<span class="saDateNumber">3</span>
						</div>
						<div class="saWeekDay saDynamicWidthJs" style="width: 160px; min-width: 160px;">
							Onsdag<span class="saDateNumber">4</span>
						</div>
					</div>
					<div class="saWeek saWeekExtra">
						<div class="saRowSticky">
							<div class="saPlannerCell"></div>
							<div class="saPlannerAggregateCell"></div>
						</div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 160px; min-width: 160px;"></div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 160px; min-width: 160px;">
							<div class="saActivity saAllDay" style="background-color: rgb(0, 0, 0);">
								<div class="saActivityInner">
									<div class="saActivityHeadingWrapper">
										<div class="saActivityHeading" style="color: rgb(255, 255, 255);">All-day item</div>
									</div>
								</div>
							</div>
						</div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 160px; min-width: 160px;"></div>
					</div>
				</div>
				<div class="saWeek saUnbookedRow">
					<div class="saRowSticky">
						<div class="saPlannerCell">
							<div class="saPlannerCellInner">
								<div class="saPlannerCellHeading">Unbooked items</div>
							</div>
						</div>
						<div class="saPlannerAggregateCell">
							<button class="saExpandButton" type="button"><i class="saIcon far fa-angle-down"></i></button>
						</div>
					</div>
					<div class="saUnbookedItems saPlannerCell"></div>
					<div class="saPlannerCell saCounterCell"></div>
				</div>
				<div class="saWeek">
					<div class="saRowSticky">
						<div class="saPlannerCell saResourceHeadingCell">
							<span class="saPlannerCellHeading">Resource 1</span>
						</div>
						<div class="saPlannerAggregateCell">
							<span>3</span>
						</div>
					</div>
					<div class="saPlannerCell saTimeCell saDynamicWidthJs" style="width: 8px; min-width: 8px;"></div>
					<div class="saPlannerCell saTimeCell saSkippable saDynamicWidthJs saLastCellInBlock" style="width: 16px; min-width: 16px;"></div>
					<div class="saPlannerCell saItemCell saBookedCellJs saDynamicWidthJs" style="width: 160px; min-width: 160px;">
						<div class="saPlannerHoverTarget"></div>
						<div class="saActivity saIgnoreOnDropJs saCanDrag saHasLinks saDynamicWidthJs saLight" style="position: absolute; left: 1px; top: 1px; height: calc(-5px + 4.025rem); background-color: rgb(45, 108, 225); width: 156px; min-width: 156px;">
							<div class="saActivityInner saIgnoreOnDropJs">
								<div class="saActivityHeadingWrapper saIgnoreOnDropJs">
									<span class="saBoxIcons"></span>
									<span class="saActivityHeading saIgnoreOnDropJs">Title 1</span>
								</div>
								<span class="saActivityDescription saIgnoreOnDropJs" style="display: none;"></span>
							</div>
						</div>
					</div>
					<div class="saPlannerCell saCounterCell saDynamicWidthJs" style="width: 32px; min-width: 32px;">1</div>
					<div class="saPlannerCell saItemCell saUnbooked saDynamicWidthJs" style="width: 160px; min-width: 160px;">
						<div class="saPlannerHoverTarget"></div>
					</div>
					<div class="saPlannerCell saCounterCell saDynamicWidthJs" style="width: 32px; min-width: 32px;">0</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-planner>
