<softadmin-planner>
	<div class="saCalendarSection saDesktopCalendar saResourceCalendar saPlanner">
		<div class="saCalendarHeader">
			<div class="saCalendarHeaderInner">
				<h2 class="saCalendarHeading">Week 27 2026</h2>
				<div class="saPeriodButtons">
					<button type="button"><i class="saIcon far fa-angle-left"></i></button>
					<button type="button"><i class="saIcon far fa-angle-right"></i></button>
				</div>
				<label class="saInputTextWrapper saLabeled">
					<span class="saLabeledLabel">Period</span>
					<select class="saInputText saDropdown">
						<option>Day</option>
						<option>Work week</option>
						<option>Week</option>
						<option>Month</option>
					</select>
					<div class="saTrailingIconsWrapper"><i class="saIcon far fa-angle-down"></i></div>
				</label>
				<label class="saInputTextWrapper saLabeled shortest">
					<span class="saLabeledLabel">Week</span>
					<input class="saInputText" type="number">
				</label>
				<button class="saTodayButton" type="button">Today</button>
				<div class="saToggleGroup">
					<label><input type="radio"><i class="fa-grid-4 saIcon fas"></i></label>
					<label><input type="radio"><i class="fa-grid-3 saIcon fas"></i></label>
				</div>
			</div>
		</div>
		<div class="saCalendarSectionInner">
			<div class="saCalendarSidebar">
				<div class="saCalendarSidebarInner">
					<div class="saCalendarSidebarSection saSidebarCalendar">
						<div class="saDatePicker saDatePickerRoot saManyWeeks">
							<div class="saDatePickerMonthHeading">
								<span class="saCalendarSidebarHeading">June 2026</span>
								<div class="saMonthBrowser">
									<button type="button"><i class="saIcon far fa-angle-left"></i></button>
									<button type="button"><i class="saIcon far fa-angle-right"></i></button>
								</div>
							</div>
							<div class="saDateRow">
								<div class="saWeekNr">27</div>
								<div class="saDate saDateElement saMarked">29</div>
								<div class="saDate saDateElement saMarked">30</div>
								<div class="saDate saDateElement saMarked">1</div>
								<div class="saDate saDateElement saMarked">2</div>
								<div class="saDate saDateElement saToday saMarked">3</div>
								<div class="saDate saDateElement saMarked">4</div>
								<div class="saDate saDateElement saMarked">5</div>
							</div>
						</div>
					</div>
					<div class="saCalendarSidebarSection saSidebarFilters"></div>
				</div>
			</div>
			<div class="saCalendar">
				<div class="saStickyTop">
					<div class="saWeek">
						<div class="saRowSticky">
							<div class="saPlannerCell saDateRowHeading">
								<button type="button" class="saIcon far fa-angles-left saCalendarSidebarExpander"></button>
							</div>
						</div>
						<div class="saWeekDay saDynamicWidthJs" style="width: 192px; min-width: 192px;">
							Monday<span class="saDateNumber">29 Jun</span>
						</div>
						<div class="saWeekDay saDynamicWidthJs" style="width: 192px; min-width: 192px;">
							Tuesday<span class="saDateNumber">30</span>
						</div>
						<div class="saWeekDay saDynamicWidthJs saDateIsToday" style="width: 192px; min-width: 192px;">
							Friday<span class="saDateNumber">3</span>
						</div>
					</div>
					<div class="saWeek saWeekExtra">
						<div class="saRowSticky">
							<div class="saPlannerCell"></div>
						</div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 192px; min-width: 192px;"></div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 192px; min-width: 192px;">
							<div class="saActivity saAllDay" style="background-color: rgb(0, 0, 0);">
								<div class="saActivityInner">
									<div class="saActivityHeadingWrapper">
										<div class="saActivityHeading" style="color: rgb(255, 255, 255);">All-day item</div>
									</div>
								</div>
							</div>
						</div>
						<div class="saWeekExtraInner saDynamicWidthJs" style="width: 192px; min-width: 192px;"></div>
					</div>
				</div>
				<div class="saWeek">
					<div class="saRowSticky">
						<div class="saPlannerCell saResourceHeadingCell">
							<span class="saPlannerCellHeading">Resource 1</span>
						</div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
						<div class="saActivity saIgnoreOnDropJs saCanDrag saHasLinks saDynamicWidthJs saLight" style="position: absolute; left: 1px; top: 1px; height: calc(-5px + 4.025rem); background-color: rgb(45, 108, 225); width: 188px; min-width: 188px;">
							<div class="saActivityInner saIgnoreOnDropJs">
								<div class="saActivityHeadingWrapper saIgnoreOnDropJs">
									<span class="saBoxIcons"></span>
									<span class="saActivityHeading saIgnoreOnDropJs">Title 1</span>
								</div>
								<span class="saActivityDescription saIgnoreOnDropJs" style="display: none;"></span>
							</div>
						</div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
					</div>
				</div>
				<div class="saWeek">
					<div class="saRowSticky">
						<div class="saPlannerCell saResourceHeadingCell">
							<span class="saPlannerCellHeading">Resource 2</span>
						</div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
						<div class="saActivity saIgnoreOnDropJs saCanDrag saHasLinks saDynamicWidthJs saLight" style="position: absolute; left: 1px; top: 1px; height: calc(-5px + 4.025rem); background-color: rgb(45, 108, 225); width: 188px; min-width: 188px;">
							<div class="saActivityInner saIgnoreOnDropJs">
								<div class="saActivityHeadingWrapper saIgnoreOnDropJs">
									<span class="saBoxIcons"></span>
									<span class="saActivityHeading saIgnoreOnDropJs">Title 2</span>
								</div>
								<span class="saActivityDescription saIgnoreOnDropJs" style="display: none;"></span>
							</div>
						</div>
					</div>
					<div class="saPlannerCell saBookedCellJs saDynamicWidthJs" style="width: 192px; min-width: 192px;">
						<div class="saPlannerHoverTarget"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</softadmin-planner>
