<ul class="saTreeView saRoot">
	<li class="saNode">
		<label class="saNodeContent saNodeExpand saCanNotDropFile">
			<div class="saExpandIconDiv">
				<input class="saExpander saMinus" type="checkbox">
			</div>
			<button class="saTreeViewButton" type="button">
				<i class="fab fa-leanpub icon saIcon"></i>
			</button>
			<span>Level 0</span>
		</label>
		<ul>
			<li class="saNode">
				<label class="saNodeContent saNodeExpand saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander" type="checkbox">
					</div>
					<span>
						<a class="saNodeLinkJs">Level 1</a>
					</span>
				</label>
			</li>
			<li class="saNode">
				<label class="saNodeContent saNodeExpand saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander" type="checkbox">
					</div>
					<span>
						<a class="saNodeLinkJs">Level 1</a>
					</span>
				</label>
			</li>
			<li class="saNode">
				<label class="saNodeContent saNodeExpand saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander" type="checkbox">
					</div>
					<span>
						<a class="saNodeLinkJs">Level 1</a>
					</span>
				</label>
			</li>
			<li class="saNode">
				<label class="saNodeContent saNodeExpand saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander saMinus" type="checkbox">
					</div>
					<span>
						<a class="saNodeLinkJs">Level 1</a>
					</span>
				</label>
				<ul>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Automation day</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Requirements</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saNodeExpand saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander saMinus" type="checkbox">
							</div>
							<span class="saCustomColor">
								<a class="saNodeLinkJs">Nyförsäljning</a>
							</span>
						</label>
						<ul>
							<li class="saNode">
								<label class="saNodeContent saCanNotDropFile">
									<div class="saExpandIconDiv">
										<input class="saExpander" type="checkbox">
									</div>
									<span>
										<a class="saNodeLinkJs">Customer meeting</a>
									</span>
								</label>
							</li>
							<li class="saNode">
								<label class="saNodeContent saCanNotDropFile">
									<div class="saExpandIconDiv">
										<input class="saExpander" type="checkbox">
									</div>
									<span>
										<a class="saNodeLinkJs">Offert</a>
									</span>
								</label>
							</li>
							<li class="saNode">
								<label class="saNodeContent saCanNotDropFile">
									<div class="saExpandIconDiv">
										<input class="saExpander" type="checkbox">
									</div>
									<span>
										<a class="saNodeLinkJs">Softadmin requests</a>
									</span>
								</label>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="saNode">
				<label class="saNodeContent saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander" type="checkbox">
					</div>
					<span>
						<a class="saNodeLinkJs">R &amp; D</a>
					</span>
				</label>
			</li>
			<li class="saNode">
				<label class="saNodeContent saNodeExpand saCanNotDropFile">
					<div class="saExpandIconDiv">
						<input class="saExpander saMinus" type="checkbox">
					</div>
					<span>Märkningar</span>
				</label>
				<ul>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Operations</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">HR</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">IT</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Koll</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Competencies</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Offices</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">New employee</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Processer</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">SBA - Sveriges Bästa Arbetsplats</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Seminarium</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Softadmin®</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Sälj</a>
							</span>
						</label>
					</li>
					<li class="saNode">
						<label class="saNodeContent saCanNotDropFile">
							<div class="saExpandIconDiv">
								<input class="saExpander" type="checkbox">
							</div>
							<span>
								<a class="saNodeLinkJs">Tool</a>
							</span>
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
